### TASK 1

In [82]:
import pandas as pd

In [83]:
authors = pd.DataFrame({'author_id': [1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [84]:
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price': [450, 300, 350, 500, 450, 370, 290]})
print(books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### TASK 2

In [85]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### TASK 3

In [86]:
top5 = authors_price.sort_values(by="price", ascending=False)
print(top5.head(5))

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### TASK 4

In [87]:
authors_stat = pd.DataFrame([[name,authors_price.query(f"author_name == '{name}'")['price'].min(), authors_price.query(f"author_name == '{name}'")['price'].max(), authors_price.query(f"author_name == '{name}'")['price'].mean()] for name in set(authors_price['author_name'])])
print(authors_stat)

            0    1    2           3
0       Чехов  450  500  475.000000
1  Островский  290  370  330.000000
2    Тургенев  300  450  366.666667

### TASK 5

In [88]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [98]:
# ?pd.pivot_table
book_info = pd.pivot_table(authors_price, index='author_name', columns='cover', values='price', aggfunc=sum).fillna(0)
print(book_info)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [104]:
book_info.to_pickle('book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')
print(book_info.compare(book_info2))

Empty DataFrame
Columns: []
Index: []